
#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    /* color: rgba(255, 255, 255, 0.5); */
    color: rgba(255, 255, 255, 0.5);
    font-size: large;
    font-weight: bold;
  }
  #mainNav .nav-link:hover {
    /* color: rgba(255, 255, 255, 0.75); */
    color: rgb(100, 161, 157);
    border-bottom: 0.25rem solid #64a19d;
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: rgb(100, 161, 157);
    border-bottom: 0.25rem solid #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

/* .masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/home-bg-2.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

.masthead {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  text-align: center;
  /* min-height: 35rem;
  padding: 15rem 0; */
  /* background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%); */
  /* background: blue; */
  background: black;
  
}

.masthead .container {
  position: absolute;
  top: 35%;
  width: 50vw;
  max-width: 100vw;
  left: 20%;
  right: 20%;
}

@media (max-width: 992px) {
  .masthead .container {
    position: absolute;
    top: 35%;
    width: 60vw;
    max-width: 100vw;
    left: 10%;
    right: 10%;
  }
}

@media (max-width: 450px) {
  .masthead .container {
    position: absolute;
    top: 35%;
    width: 80vw;
    max-width: 100vw;
    left: 10%;
    right: 10%;
  }
}

.masthead h2 {
  font-family: 'Varela Round';
  -webkit-text-fill-color: whitesmoke;
}

.masthead h1 {
  font-family: 'Varela Round';
  -webkit-text-fill-color: whitesmoke;
  margin: 0px;
}

.main-text-container {
  padding: 0.5rem;
  border: rgb(79, 131, 127) solid 3px;
  margin-bottom: 1.5rem;
}

.typewriter-container {
  margin-bottom: 2rem;
}

/* .masthead h2 {
  font-family: 'Varela Round';
  -webkit-text-fill-color: whitesmoke;
  margin-bottom: 3rem;
}

.masthead h1 {
  font-family: 'Varela Round';
  -webkit-text-fill-color: whitesmoke;
  margin: 0px;
}

.main-text-container {
  padding: 0.5rem;
  border: rgb(79, 131, 127) solid 3px;
  margin-bottom: 2rem;
} */

/* @media (max-width: 992px) {
  .masthead {
    background: url("../img/home-bg-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
} */


/* @media (min-width: 768px) {
  .masthead h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
} */

/* .main-text-wrap h2 {
  color: whitesmoke;
} */

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #64a19d;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: rgb(79, 131, 127);
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.about-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9), rgba(0, 63, 145, 0.8)); */
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9), rgba(79, 131, 127, 0.9));
  
}

.about-text {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.25rem solid #64a19d;
  text-align: center;
}
.about-skills-text {
  text-align: center;
}
.about-card {
  
  background-color: whitesmoke;
}

.about-section p {
  margin-bottom: 5rem;
}

.about-tech {
  background: linear-gradient(to bottom,  whitesmoke 0%, rgba(79, 131, 127, 0.9) 50%, whitesmoke), url("../img/project-bg.jpg") fixed;
}

.about-tech-img img {
  height: 200px;
  width: 200px;
}

.about-tech-img {
  text-align: center;
  padding-bottom: 1rem;
} 

/* @media (min-width: 992px) { 
  .about-tech-img img {
    height: 200px;
    width: 200px;
    
  }
  
  .about-tech-img img {
    transition: transform .5s ease;
  }
  
  .about-tech-img:hover img {
    transform: scale(1.5);
  }
  .about-tech-img {
    text-align: center;
    padding-bottom: 1rem;
  } 
  
} */


/* .about-tech-row-1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
} */

/* .about-tech-row-2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
} */



.about-container {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.about-img img{
  height: 300px;
  width: 300px;
  margin: auto;
  display: block;
}

.about-img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.about-skills {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  background: linear-gradient(to bottom,  whitesmoke 0%, rgba(79, 131, 127, 0.9) 50%, whitesmoke), url("../img/project-bg.jpg") fixed;
}
.skills-progress-bar {
  padding: 0.5rem !important;
}

.skills-lang {
  margin-top: 4px;
  margin-left: 4px;
}



.projects-img {
  border: 1px solid black;
  height: 350px;
  overflow: hidden;
}

@media (min-width: 992px) { /* for big screens */
  .project-img {
    border: 1px solid black;
    height: 350px;
    overflow: hidden;
  }
  
  .project-img img {
    transition: transform .5s ease;
  }
  
  .project-img:hover img {
    transform: scale(1.5);
  }
  
}

.project-text a:hover {
  -webkit-text-fill-color: #6eb4aeb3;
}

#star {
  color: #FFD700;
}


.project {
  padding-bottom: 1rem;
}


.projects-section {
  padding: 5rem 0;
  /* background: linear-gradient(to bottom,  rgba(0, 63, 145, 0.6)  0%, #ffffff,rgba(79, 131, 127, 0.6)); */
  /* background: linear-gradient(to bottom,  rgba(0, 63, 145, 0.79)  0%, #ffffff,rgba(50, 50, 50, 1.0)), url("../img/project-bg.jpg") fixed; */
  background: linear-gradient(to bottom,  rgba(79, 131, 127, 0.9)  0%, #ffffff,rgba(50, 50, 50, 1.0)), url("../img/project-bg.jpg") fixed;
  
}

.projects-text {
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  text-align: center;
  border-bottom: 0.25rem solid #64a19d;
}

.projects-normal {
  padding-bottom: 1rem;
}

.projects-container {
  background-color: whitesmoke;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}



.signup-section {
  padding: 10rem 0;
  /* background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-signup.jpg"); */
  /* background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, #ffffff, #161616 100%); */
  /* background: linear-gradient(to bottom, #161616, #ffffff, #161616); */
  background-color: #161616;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-text {
  padding-bottom: 1.5rem;
  text-align: center;
  color: whitesmoke;
  border-bottom: 0.25rem solid #64a19d;
  
}

.contact-section {
  padding: 5rem;
  background: url("../img/contact-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  line-height: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.contact-section .social .fa-facebook-f {
  background: rgba(59, 89, 152, 0.7);
  color: whitesmoke;
  font-size: 1.5rem;
}

.contact-section .social .fa-facebook-f:hover {
  background: rgba(59, 89, 152, 1.0);
  color: whitesmoke;
}

.contact-section .social .fa-github {
  background: rgba(40, 44, 53, 0.7);
  color: whitesmoke;
  font-size: 1.5rem;
}

.contact-section .social .fa-github:hover {
  background: rgba(40, 44, 53, 1.0);
  color: whitesmoke;
}
.contact-section .social .fa-linkedin {
  background: rgba(72, 117, 180, 0.7);
  color: whitesmoke;
  font-size: 1.5rem;
}

.contact-section .social .fa-linkedin:hover {
  background: rgba(72, 117, 180, 1.0);
  color: whitesmoke;
}

@media (max-width: 992px) {
  .contact-section .social .fa-facebook-f {
    background: rgba(59, 89, 152, 1.0);
    color: whitesmoke;
    font-size: 1.5rem;
  }
  .contact-section .social .fa-github {
    background: rgba(40, 44, 53, 1.0);
    color: whitesmoke;
    font-size: 1.5rem;
  }  
  .contact-section .social .fa-linkedin {
    background: rgba(72, 117, 180, 1.0);
    color: whitesmoke;
    font-size: 1.5rem;
  }
  
}




body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 5rem 0;
}

